<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  </head>

  <header class="navbar-fixed">
    <nav class="yellow darken-1">
      <ul class="right" id="nav-mobile">
        <li><a href="<%= root_path %>">Inicio</a></li>
        <li><a href="<%= pages_landing_path%>">Landing</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
